<div id="starter" ng-init="" ng-destroy=""> 
  <div class="component-holder ng-binding ng-scope" data-component="crn-google-maps" id="crn-google-maps-666841" ng-init="blockly.js.blockly.APIGoogleMaps.Executar()"> 
    <label class="item item-input component-holder" data-component="crn-input" id="inputSaidas"><input id="inputSaida" type="text" placeholder="inputSaida" ng-model="inputSaida" mask=""></label>
    <label class="item item-input component-holder" data-component="crn-input" id="inputDestinos"><input id="inputDestino" type="text" placeholder="Placeholder text" ng-model="inputDestino" mask=""></label>
    <button class="button button-dark component-holder" type="submit" ng-click="blockly.js.blockly.APIGoogleMaps.GeraRota()" data-component="crn-button" id="crn-button-496676"><i class="ion ion-home"></i> <span>Button </span></button>
    <div id="map7651" token="AIzaSyAM0H2LJ60FUYErjbve6QcaJfJTrOMhS3g" ng-init="blockly.js.blockly.Bloco.Executar()" style="width:200px;height:200px;"></div> 
  </div> 
</div>